langchain
langchain-core
langchain-groq 
langchain-community
langchain-classic
langchain-experimental
langchain-text-splitters
langchain-chroma
langchain-huggingface
groq 
python-dotenv
ipykernel 
notebook
pypdf
chromadb
sentence-transformers
transformers
torch
wget
gradio
huggingface-hub
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-llms-groq
llama-index-readers-web
llama-hub